
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    </head>
<body>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                    <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
               

                    <p>
                        NBE is the oldest commercial bank in Egypt. It was established on June 25, 1898 with a capital of £ 1 million. Throughout its long history,
                        NBE's functions and roles have continually developed to square with the different economic and political stages in Egypt.
                        During the 1950s, NBE assumed the central bank's duties. After its nationalization in the 1960s,
                        it acted as a pure commercial bank besides carrying out the functions of the central bank in the areas where the latter had no branches. Moreover, since mid-1960s,
                        NBE has been in charge of issuing and managing investment certificates on behalf of the government.

                        During FY 2019/2020, NBE managed to achieve unprecedented performance indicators. 
                        Total financial position as at the end of June 2020 recorded EGP 2 trillion, growing 23% yoy.
                        Accordingly, NBE's total assets accounted for 31.5% of Egyptian banks' total assets. NBE's financial position continued to scale up to EGP 2.5 trillion as at end-March 2021.

                        Total deposits reached EGP 1.6 trillion as at end-June 2020, with a growth rate of 36% yoy, accounting for 34% of total banks' deposits. 
                        Such leap was driven by the introduction of a diversified package of deposits in local and foreign currencies at competitively lucrative rates. 
                        NBE's deposits approached EGP 2 trillion as at end-March 2021, which highlights the customers' confidence in our Bank.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->
</body>
</html>

