
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>

</head>
<body>

    <section id="team" class="team">
           <div class="container">

               <div class="section-title">
                   <span>Team</span>
                   <h2>Team</h2>
              </div>

               <div class="row">
                   <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                       <div class="member">
                          <img src="~/assets/img/team/me.jpg.jpg" />

                           <h4>Ragab Abdeen</h4>
                           <span>Back End Developer , Chief Executive Officer</span>
                       <p>
                           Student at faculty of computers and information
                           mansoura university
                       </p>
                       <div class="social">
                           <a href="https://twitter.com/Ragab1100"><i class="bi bi-twitter"></i></a>
                           <a href=""><i class="bi bi-facebook"></i></a>
                           <a href="https://www.instagram.com/ragabmango/"><i class="bi bi-instagram"></i></a>
                           <a href=""><i class="bi bi-linkedin"></i></a>
                       </div>
                       </div>
                   </div>

                   <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                       <div class="member">
                        <img src="~/assets/img/team/AH_.jpg" style="width:160px;height:160px;" />

                           <h4>Ahmed </h4>
                           <span>Product Manager</span>
                           <p>
                               Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                           </p>
                           <div class="social">
                               <a href=""><i class="bi bi-twitter"></i></a>
                               <a href=""><i class="bi bi-facebook"></i></a>
                               <a href=""><i class="bi bi-instagram"></i></a>
                               <a href=""><i class="bi bi-linkedin"></i></a>
                           </div>
                       </div>
                   </div>

                   <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                       <div class="member">
                           <img src="~/assets/img/team/kha_.jpg" style="width:160px;height:160px;" />

                          <h4>Khaled mahmoud</h4>
                           <span>CTO</span>
                           @*<p>
          
                           <p>
                               Student at faculty of computers and information
                               mansoura university

                           </p>
                           <div class="social">
                               <a href=""><i class="bi bi-twitter"></i></a>
                               <a href=""><i class="bi bi-facebook"></i></a>
                               <a href=""><i class="bi bi-instagram"></i></a>
                               <a href=""><i class="bi bi-linkedin"></i></a>
                           </div>
                       </div>
                   </div>

               </div>

           </div>
       </section>
    <!-- End Team Section -->

</body>
</html>

